@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Source Sans 3', 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #2f2f2f;
  background-color: #f3efe7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f3efe7;
}

a {
  text-decoration: none;
  color: inherit;
}

